.ContactSection {
    width: 100%;

    background-color: var(--color-blue);

    display: flex;
}

.ContactSection__container {
    width: 100%;
    max-width: 997px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 121px auto;
}

.ContactSection__title {
    color: var(--color-white);

    margin-bottom: var(--margin-bottom-title);
}

.ContactSection__divisor {
    margin-bottom: 32px;
}

.ContactSection__description {
    font-size: 1.250em;
    font-weight: 400;

    color: var(--color-white);

    margin-bottom: 58px;
}

.ContacSection__formArea {
    width: 100%;
    max-width: 575px;

    display: flex;
    flex-direction: column;
}

.ContactSection__formArea-section {
    display: flex;
    flex-direction: column;

    border: none;
}

.ContactSection__formArea-section-label {
    font-size: 1em;
    font-weight: 400;

    color: var(--color-white);

    margin-bottom: 15px
}

.ContactSection__formArea-section-legend {
    font-size: 1em;
    font-weight: 400;

    color: var(--color-white);

    margin-bottom: 15px
}

.ContactSection__formArea-section-input {
    width: 100%;
    max-width: 575px;
    padding: 23px 429px 19px 25px;
    margin-bottom: 47px;

    border: none;
    border-radius: 8px;
}

.ContactSection__formArea-section-textarea {
    border: none;
    border-radius: 8px;

    margin-bottom: 47px;
}

.ContactSection__button {
    width: 157px;
    height: 50px;
    padding: 20px 52px 20px 52px;
    margin-left: 415px;
    margin-bottom: 60px;

    background-color: var(--color-green);
    color: var(--color-white);

    font-size: 0.875em;
    font-weight: 800;

    border: none;
    border-radius: 8px;

    text-align: center;
}

.ContactSection__button:hover {
    filter: brightness(110%);
}

.ContactSection__card {
    width: 575px;

    background-color: var(--color-white);
    
    border-radius: 8px;
}

.ContactSection__card-title {
    color: var(--color-black-title);

    font-size: 2em;
    text-align: center;

    padding: 56px 78px 52px 71px;
}

.ContactSection__card-title-color {
    color: var(--color-blue);

    font-weight: 700;
}

.ContactSection__card-telephone {
    color: var(--color-gray-phone);

    font-size: 1.250em;
    font-weight: 700;

    margin-bottom: 52px;

    display: flex;
}

.ContactSection__card-telephone-icon {
    width: 58px;
    height: 58px;

    background-image: url('../assets/imgs/telephone@1X.png');

    display: flex;
}

.ContactSection__card-telephone-color {
    color: var(--color-blue);

    font-weight: 800;
}

.ContactSection__card-whatsapp {
    width: 454px;
    height: 73px;
    
    background-color: var(--color-green-bg);
    color: var(--color-white);

    font-size: 1.5em;
    font-weight: 700;
    text-align: center;

    padding: 24px 64px;
    margin-bottom: 74px; 

    border-radius: 8px;

    display: flex;
    align-items: center;
}

.ContactSection__card-whatsapp-icon {
    width: 73px;
    height: 73px;

    background-color: var(--color-green-icon);
    background-image: url('../assets/imgs/whatsapp-brands@1X.png');

    display: flex;
}

.ContactSection__card-address {
    color: var(--color-gray-phone);

    font-size: 1.250em;

    display: flex;

    margin-bottom: 53px;
}

.ContactSection__card-address-icon {
    width: 57px;
    height: 51px;
    
    background-image: url('../assets/imgs/map@1X.png');

    display: flex;
}

.ContactSection__card-adress-color {
    font-size: 1em;

    color: var(--color-blue);
}

/* .ContactSection__photo {

} */