.PageContent {
    width: 100%;
}

.PageHeader {
    position: fixed;
    z-index: 10;
    top: 0;
    
    width: 100%;

    padding: 0 20px;

    margin: auto;

    background-color: var(--color-white);
}

.PageHeader__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PageHeader__logo {
    width: 150px;
    height: 40px;
    margin: 40px 0;
}

.PageHeader__logo-image {
    height: 100%;
}

#PageHeader-icon-hamburguer {
    height: 2em;
    width: 2em;
}

#PageHeader-icon-hamburguer:hover {
    background-color: #ddd;
    cursor: pointer;
}

#PageHeader__menu  {
    height: 0;
    overflow: hidden;
}

.PageHeader__itens {
    margin-bottom: 40px;
}

.PageHeader__principalMenu-link {
    color: var(--color-gray);
    font-weight: 700;
}

.PageHeader__secondaryMenu-link {
    color: var(--color-gray-light);
    font-weight: 400;
}

.PageHeader__principalMenu,
.PageHeader__secondaryMenu {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        list-style-type: none;
}

.PageHeader__principalMenu-link,
.PageHeader__secondaryMenu-link {
    font-size: 0.875em;
}

.PageHeader__principalMenu-link:hover,
.PageHeader__secondaryMenu-link:hover {
    color: var(--color-blue);
}

@media (min-width: 1024px) {
    .PageHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #PageHeader-icon-hamburguer {
        display: none;
    }

    .PageHeader__logo {
        width: 252px;
        height: 71px;
        margin: 40px 200px 40px 0;
    }

    #PageHeader__menu {
        width: 100%;
        height: auto!important;
    }

    .PageHeader__principalMenu {
        flex-direction: row;
        justify-content: space-between;
    }

    .PageHeader__itens {
        margin-bottom: 0;
    }
}

